body {
    background-color: #f4f4f4;
}
.header {
    background: #6f4c3e;
    color: white;
    padding: 50px 0;
    text-align: center;
}
.product {
    margin-bottom: 30px;
}
footer {
    background: #6f4c3e;
    color: white;
    padding: 20px 0;
    text-align: center;
}
