@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #f4f4f4;
}
/* navbar */
#navbar-color{
    background-color: rgba(238,224,208);
 }
 .navbar-brand {
    font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 }
 .navbar-nav {
    margin: auto;
    display: fixed;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
    margin-left: 20px;

}
.nav-link {
    margin-left: 45px;
    color: #6f4c3e;
    transition: .1s ease;
    cursor: pointer;
    font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    
}
.nav-link:hover {
    color: #6f4c3e;
    border:4px solid #6f4c3e;
    /* border-left:4px solid #6f4c3e; */
    border-radius: 20px;
}
/* navbar end */

.header {
    background: #6f4c3e;
    color: white;
    padding: 50px 0;
    text-align: center;
    font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.product {
    margin-bottom: 30px;
    font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* contact */ 
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: -50px;
  padding-top: -50px;
}
.contact-form form {
  position: relative;
  width: 50%;
  border: 5px solid #6f4c3e;
  border-radius: 30px;
  margin: auto;
  padding: 10px;
}
.contact-form form input, form textarea {
  width: 80%;
  padding: 15px;
  background: white;
  color: black;
  border: 3px solid #6f4c3e;
  outline: none;
  font-size: 15px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form input .submit {
  width: 160px;
  height: 60px;
  background: transparent;
  border: 3px solid #6f4c3e;
  border-radius: 30px;
  transition: 0.5s ease;
  cursor: pointer;
}
.contact-form .submit:hover {
  background-color: #6f4c3e;
  color: white;
}
iframe {
  margin-top: 30px;
}
/* contact end */

footer {
    background: #6f4c3e;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
